<div class="admin">
	
	<h1>Administration du site</h1>

	<hr/>

	<p>
		<a href="/soins" class="btn btn-large btn-success" style="width: 255px;"> Gérer les pages Soin du site </a>
	</p>
	<p>
		<a href="/nouveautes" class="btn btn-large btn-warning" style="width: 255px;"> Gérer les pages Nouveautés du site </a>
	</p>

	<hr/>
	
</div>


