

div.well.sidebarleft{
    background-color: #bedfcd;
    font-size:0.75em;
    font-weight:bold;
    font-family: Arial, Verdana;
    a{
        color: $bleu;
    }
    li{
        a{
            &:hover{
                color:green;
                background-color:#f5f5f5;
            }
        }
    }
    ul{
        li{
            color: $orange;
        }
    }
}
