<footer>
    <div class="footer_line container">
      <div class="copyright">&copy; Clinique Duquesne <%= Time.now.year %> | Tous droits réservés.</div>
        <div class="socials">
        	<ul class="socials_list">
            	<li><a href="#" class="ico_social-facebook"></a></li>
                <li><a href="#" class="ico_social-twitter"></a></li>
                <li><a href="#" class="ico_social-gplus"></a></li>
                <li><a href="/admin/index" class="ico_social-delicious"></a></li>
            </ul>            
        </div>
        <div class="clear"></div>
        <a href="javascript:void(0)" class="btn2top"></a>            
    </div>
    <div class="footer_border"></div>
</footer>
